.footer {
    padding: 1rem 1rem;
    order: 10;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
}

.footerNav {
    margin-top: 10px;
}

#addressIcon {
    font-size: 18px;
    color: #EC1A3B;
}

.address a {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;

}

@media (max-width: 576px) {
    .footer .col-12 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .footer img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
  #addressIcon:hover {
    color:#2383C5;
  }
}



