:root {
  --red: #EC1A3B;
  --redish: #ec1a39c4;
  --blue: #2383C5;
  --grey1: #2E2E2E;
  --grey2: #616161;
  --font-family-grandstander: 'Grandstander';
  --font-family-nunito-sans: 'Nunito Sans';
  --font-family-kalam: 'Kalam';
  --font-family-great-vibes: 'Great Vibes';
}

.container {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

h1, h2 {
    text-align: left;
}

.header {
  font-size: 44px;
  font-family: var(--font-family-kalam);
  color: var(--red);
  display: flex;
  align-self: flex-start;
}

.highlight {
    color: var(--red);
    font-weight: bold;
    font-family: var(--font-family-grandstander);
}

.sub-highlight {
    color: var(--blue);
    font-weight: bold;
    font-family: var(--font-family-nunito-sans);
    font-size: 24px;
}

.section-title {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
    font-family: var(--font-family-nunito-sans);
    color: var(--grey1);
}

.content {
    margin-top: 10px;
    text-align: left;
    font-family: var(--font-family-nunito-sans);
    color: var(--grey2);
    font-size: 18px;
}

#team-pic {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 1vh;
}

.photo-caption {
    color: var(--grey2);
    font-size: 13px;
}

.hashtags {
    margin-top: 3vh;
    font-family: var(--font-family-grandstander);
    font-size: 28px;
    color: var(--redish);
    font-weight: 600;
    text-decoration: none;
}

.playlist {
    display: flex;
    align-items: center;
    text-align: center;
}

.playlist #icon {
    color: var(--red);
}

.logo-help {
    margin-top: -10%;
}

.logo-help img{
    width: 454px;
}

.dziekujemy-text{
    display: flex;
    color: var(--blue);
    font-size: 50px;
    font-family: var(--font-family-great-vibes);
    margin-bottom: 5%;
}

@media screen and (max-width: 480px) {
  .dziekujemy-text{
    margin-top: -15%;
  }

  .container {
    width: 95%;
  }

  .header {
    font-size: 28px;
  }

  .sub-highlight {
    font-size: 18px;
  }

  .hashtags {
    font-size: 16px;
  }

  .content {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
    .kids {
      margin-left: 8px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        height: auto;
        height: auto;
    }

    .logo-help img{
        width: 250px;
    }

    .dziekujemy-text{
        display: flex;
        justify-content: center;
    }

   .hashtags{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: center;
    }

    .playlist {
        margin-bottom: -10px;
        display: grid;
        justify-content: center;
    }

    .playlist .icon{
      display: flex;
    }
}

@media screen and (min-width: 992px) {
  #icon:hover {
    color: var(--blue);
  }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
    .logo-help {
        margin-top: -5%;
    }

    .logo-help img{
        width: 300px;
    }
}



