.main {
  display: flex;
  flex-direction: row;
  position: relative;
}

aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

}

.right-side {
  right: 0;
}

.left-side {
  left: 0;
}

.right-side, .left-side {
  transform: translateY(20%);
  flex-direction: column;
  align-items: center;
}

.main-content, .thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.thanks {
  margin: 1em;
  display: flex;
  margin-top: 10%;
  font-size: 50px;
  font-family: "Quicksand";
  color: #EC1A3B;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: auto;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 1024px) {
  .right-side, .left-side {
    transform: translateY(0);
  }

  .thankyou {
    order: 0;
    align-items: center;
  }

  .main {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  aside, .main-content, .thankyou {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
    padding: 10px;
  }

  .left-side {
    order: 1;
  }

  .thankyou .main-content {
    order: 1;
  }

  .right-side {
    order: 2;
  }

  .side {
    height: auto;
    margin-top: 0;
  }

  .main-content {
    height: auto;
    order: 3;
    margin-top: -10px
  }

  .help-us, .socials {
    text-align: center;
    padding: 10px;
  }

  .help-us .textfield-container, .button-container, .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .thanks {
    padding: 5px;
    white-space: pre-line;
    align-content: center;
  }
}