  :root {
    --primary_blue: #2383C5;
    --primary_red: #EC1A3B;
    --font-family-quicksand: 'Quicksand';
  }

  .menu {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: white;
    position: relative;
    z-index:1000;
    flex: 1;
  }

  .menu:hover{
    cursor: pointer;
  }

  .menu {
    margin-top: 2%;
  }

  li {
    color: var(--primary_blue);
    font-family: var(--font-family-quicksand);
    font-weight: bold;
  }

  @media screen and (min-width: 992px) {
    li:hover {
       color: var(--primary_red)
    }
  }

  @media screen and (max-width: 768px) {
    .smallerScreenMenu {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   }

    .containerMenu {
      flex-direction: column;
      list-style-type: none;
      margin-top: 5%;
      background-color: white;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 1em;
      border-radius: 10px;
    }

    .containerMenu li {
      margin: 5px 0;
    }

    .containerMenu a {
      color: var(--primary_blue);
      font-family: var(--font-family-quicksand);
      font-weight: bold;
      text-decoration: none;
    }

    .hamburger {
      display: flex;
      height: auto;
    }

    .hide-on-small-screen {
      display: none;
    }

    .dropdownContainer {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 769px) {
    .containerMenu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2em;
      list-style-type: none;
      margin-top: 20px;
    }
  }

  .containerMenu.active {
    display: flex;
  }


  .dropdownContainer {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 10px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: auto;
}

.dropdownMenu li {
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
}

.dropdownMenu li:hover {
    background-color: #f0f0f0;
}

button#dropDownButton {
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    padding: 0;
    text-decoration: none;
  }

#dropDownButton {
    align-items: center;
    display: flex;
}

.beneficiary {
    text-decoration: none;
    color:var(--primary_blue)
}
