.side {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  gap: 1em;
  /* margin-top: 10%; */
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.supportUs {
  font-size: 28px;
  font-family: "Quicksand";
  color:#EC1A3B;
}



@media screen and (max-width: 1024px) {
  .side {
    height: auto;
    position: static;
    margin-top: 0;
  }

  .supportUs {
    font-size: 27px;
  }
  .icons {
    flex-direction: row;
    gap: 35px;
  }
}

@media screen and (min-width: 1540px) {
  .text > * {
    font-size: large;
  }

  .textfield-container > * {
    width: 120%; 
  }

  .button-container > * {
    width: 120%; 
  }

  .icons > * {
    width: 150%;
    height: 150%;
  }
}
