.side {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#icon {
  font-size: 50px;
   color: #000;
}

.supportUs {
  font-size: 28px;
  font-family: "Quicksand";
  color:#EC1A3B;
}

@media screen and (min-width: 992px) {
  #icon:hover {
    color:#2383C5;
  }
}

@media screen and (max-width: 992px) {
  .side {
    height: auto;
    position: static;
    margin-top: 0;
  }

  .supportUs {
    font-size: 27px;
  }

  .icons {
    flex-direction: row;
    gap: 35px;
  }
}

