:root {
  --red: #EC1A3B;
  --blue: #2383C5;
  --grey1: #2E2E2E;
  --grey2: #616161;
  --font-family-grandstander: 'Grandstander';
  --font-family-nunito-sans: 'Nunito Sans';
  --font-family-kalam: 'Kalam';
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#icon {
  font-size: 50px;
  color: #000;
}

.supportUs {
  font-size: 28px;
  font-family: "Quicksand";
  color:var(--red);
}

.aboutFundraiser {
  text-decoration: none;
}
.aboutFundraiser:hover {
  color: var(--red)
}

.progressBar {
  width: 25%;
}

#knowMoreAboutFundraiser {
  color: var(--red);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#knowMoreAboutFundraiser:hover {
  color: var(--blue);
}

#buttonSubmit:disabled {
  background-color:#ec1a39a3;
}

@media screen and (min-width: 992px) {
  #icon:hover {
    color:#2383C5;
  }
}

@media screen and (max-width: 992px) {
  .side {
    height: auto;
    position: static;
    margin-top: 0;
  }

  .supportUs {
    font-size: 27px;
  }

  .icons {
    flex-direction: row;
    gap: 35px;
  }
}


@media screen and (max-width: 480px) {
  #knowMoreAboutFundraiser {
    font-size: 20px;
  }
}
